{%extends 'dashboard.html'%}
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block title%}
    <title>Customer Details</title>
    {%endblock%}
</head>
<body>
{%block css%}
<link rel="stylesheet" href="{%static 'accounts/cust.css'%}">
{%endblock%}
{%block js%}
    <script>
        $(document).ready(function(){
            $('#addcustfrm').hide();
            $('#impcustdata').hide();
            $('#cust').click(function(){
                $('#addcustfrm').show();
            });
            $('#cust_imp').click(function(){
                $('#impcustdata').show();
            });
        });
    </script>
{%endblock%}
{%block content%}
<div style="float:left" class="disable">
    <button class="btn btn-primary disable" id="cust">Add</button>
    <a id="productsimp" href="{%url 'importcusttemplate'%}" class="btn btn-success disable">Import Template</a>
    <button id="cust_imp" class="btn btn-info disable">Import</button>
</div>
<br>
<div id="impcustdata">
    <div class="importdata">
        <strong>Upload Csv template file</strong>
        <form method="post" enctype="multipart/form-data" action="{%url 'importcustdata'%}">
            {%csrf_token%}
            <input type="file" name="file"/><br><br>
            <input type="submit" value="Upload" class="btn btn-success"/>
            <a href="{%url 'cust'%}" class="btn btn-info">Cancel</a>
        </form>
    </div>
</div>
<br>
<div id="addcustfrm">
    <div class="addfrm">
        <strong>Add Cutomer Details</strong>
        <form method="post" class="form-horizontal">
            {%csrf_token%}
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" id="cust_name" name="cust_name"/>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Adderss1</label>
                            <input type="text" id="adderss1" name="adderss1"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Adderss2</label>
                            <input type="text" id="adderss2" name="adderss2"/>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" id="phone" name="phone"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" id="Email" name="Email"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="submit" class="btn btn-success"/>
                        <a href="{%url 'cust'%}" class="btn btn-info">Cancel</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<br>
<table class="table" id="cust_table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Adderess</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email</th>
        <th scope="col">billnum</th>
        <th scope="col">billdate</th>
        <th scope="col">Sales person</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {%for customer in customerdetails%}
    <tr>
        <td>{{customer.billtoname}}</td>
        <td>{{customer.adderss}}</td>
        <td>{{customer.phonenumber}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.billnum}}</td>
        <td>{{customer.billdate}}</td>
        <td>{{customer.executvie}}</td>
        <td><a href="{%url 'newbill' customer.id%}" class="btn btn-info">Bill Now</a></td>
    </tr>
    {%endfor%}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if customerdetails.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ customerdetails.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ customerdetails.number }} of {{ customerdetails.paginator.num_pages }}.
        </span>

        {% if customerdetails.has_next %}
            <a href="?page={{ customerdetails.next_page_number }}">next</a>
            <a href="?page={{ customerdetails.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}
</body>
</html>