{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Billing</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{%static 'accounts/bill.css'%}"/>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'bootstrap/js/jquery-3.4.1.js'%}"></script>
</head>
<body>
<script>
$(document).ready(function(){
    $('.delete').click(function(){
        alert("Item deleted successfully");
    });
    $('.itmsub').click(function(){
        alert("Item added successfully");
    });
    $('.itmsub').click(function(){
        $('#popup').hide();
    });
    document.getElementById("additmbtn").addEventListener("click",function(){
       document.querySelector("popup").style.display = "flex"; 
    });
    document.getElementById("submitbtn").addEventListener("click",function(){
       document.querySelector("popup").style.display = "none"; 
    });
});



</script>

<div class="container">
    <table class="table table-border">
        <tr>
            <td>Bill To:</td>
            <td>{{billtocustomer.billtoname}}</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>{{billtocustomer.phonenumber}}</td>
        </tr>
        <tr>
            <td>Bill Date:</td>
            <td>{{billtocustomer.billdate}}</td>
        </tr>
        <tr>
            <td>Bill Number:</td>
            <td>{{billtocustomer.billnum}}</td>
        </tr>
    </table>
    <button class="btn btn-primary">
        <a href="{%url 'newbill' billtocustomer.id %}" id="additmbtn" class="btn btn-primary">Add items</a>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8.5 5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0v-2z"/>
            <path fill-rule="evenodd"
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
    </button>
    <br>
    {%for itm in product%}
    <div id="popup">
        <div class="popup-content">
            <form method="POST">
                {%csrf_token%}
                <input type="hidden" name="pid" value="{{itm.id}}"/>
                <input type="hidden" name="custid" value="{{cust.id}}"/>
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" name="pname" value="{{itm.Name}}" class="form-control" readonly="true"/>
                </div>

                <div class="form-group">
                    <label>Product Qty</label>
                    <input type="number" name="pqty" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>uom</label>
                    <select name="uom" class="form-control">
                        <option>Select uom</option>
                        <option>Kg</option>
                        <option>lt</option>
                    </select>
                </div>
                <button type="submit" id="submitbtn" value="Add" class="btn btn-success itmsub">
                    <span>Add</span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
                    </svg>
                </button>
                <button class="btn btn-primary">
                    <a href="{%url 'newbill' custid.id%}"></a>
                    <span>Cancel</span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd"
                              d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    {%endfor%}
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Particulars</th>
            <th>Uom</th>
            <th>QTY</th>
            <th>Edit Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        {%for product in items%}
        <tr>
            <td>{{product.products.Name}}</td>
            <td>{{product.uom.name}}</td>
            <td>{{product.qty}}</td>
            <td contenteditabl="true">
                <form method="POST" action="{%url 'editqty' product.products.id%}">
                    {%csrf_token%}
                    <input type="hidden" name="customerid" value="{{custid.id}}"/>
                    <div class="form-group">
                        <input type="number" name="decqty" width="30px" placeholder="Enter qty"/>
                    </div>
                    <input type="submit" hidden="ture" value="Submit"/>
                </form>
            </td>
            <td>{{product.products.price}}</td>
            <td class="totalprice">{{product.total_price}}</td>
            <td>
                <form method="post" action="{%url 'child_del' product.products.id%}">
                    {%csrf_token%}
                    <input type="hidden" name="customerid" value="{{custid.id}}">
                    <button class="btn btn-danger delete">
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd"
                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </form>
            </td>
        </tr>
        {%endfor%}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td>Tax</td>
                    </tr>
                    <tr>
                        <td><span id="taxid"></span></td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                    </tr>
                    <tr>
                        <td><span id="discid"></span></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                    </tr>
                    <tr>
                        <td><span id="totalid"></span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>