#addtaxform{
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    float:left;
    justify-content: left;
    align-items: center;
}

.taxcontent{
    height: 300px;
    width: 400px;
    background: bisque;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}